.wrapper {
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns:  768px 1fr;
  gap: 2rem;
  align-items: flex-start;
}
main {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
